altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
idna
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
narwhals
numpy
packaging
pandas
pillow
pip
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
pyparsing
python-dateutil
python-dotenv
pytz
referencing
requests
rpds-py
rsa
six
smmap
sniffio
streamlit
tenacity
toml
tornado
tqdm
typing_extensions
typing-inspection
tzdata
uritemplate
urllib3
watchdog
websockets
